body{
    margin:0;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0,0%,50%);
}
#calculator{
    font-family:Arial, Helvetica, sans-serif;
    background-color: hsl(0,0%,20%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width:100%;
    padding:30;
    font-size: 5em;
    text-align: right;
   background-color: hsl(0,0%,25%);
   color:aliceblue;
    border: none;    

}
#keys{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding:25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border:none;
    background-color:hsl(0,0%,90%);
    color:rgb(22, 117, 158);
    font-size: 2em;
    font-weight: bolder;
    cursor:pointer;
}
button:hover{
    background-color:hsl(0,0%,80%);
}
button:active{
    background-color:hsl(0,0%,70%);
}
.operator{
    background-color:hsl(0, 77%, 70%);
    color:white;
}
.operator:hover{
    background-color:hsl(0, 77%, 60%);
    color:white;
}
.operator:active{
    background-color:hsl(0, 77%, 45%);
    color:white;
}
.clear{
    background-color:hsl(179, 97%, 71%);
    color:red;;
}
.clear:hover{
    background-color:hsl(179, 97%, 60%);
    color:red;;
}
.clear:active{
    background-color:hsl(179, 97%, 45%);
    color:red;;
}
